{% extends "base.html" %}

{% block title %}Aggiungi Quiz{% endblock %}

{% block jscripts %}
<!-- yui -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}scripts/yui/tabview/assets/skins/sam/tabview.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/yui/utilities/utilities.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/yui/autocomplete/autocomplete-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/yui/datasource/datasource-beta-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/yui/animation/animation-min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}scripts/yui/autocomplete/assets/skins/sam/autocomplete-skin.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}scripts/yui/autocomplete/assets/skins/sam/autocomplete.css" />

<style type="text/css">
 #autocomplete { text-align:center;width:20em; } 
 #id_tags { position:static;width:20em; } /* to center, set static and explicit width: */ 
 #id_tags_container { text-align:left;width:20em; } /* to center, set left-align and explicit width: */
 .autocomplete_widget { text-align:left;width:20em; }


</style>

<!-- /yui-->
<SCRIPT>


function writehelp(str){
 	document.getElementById("tips").innerHTML=str;
}

/*
//function addItemToTagsList(li){
//	if (document.frm.autocompleter.value.indexOf(', ') > -1 ){
//		rest = document.frm.autocompleter.value.substring(0, document.frm.autocompleter.value.lastIndexOf(' ') );
//		document.frm.autocompleter.value= rest + " " + li.innerHTML;
//	} else
//		document.frm.autocompleter.value=li.innerHTML;
//}
*/
function changeMedia(){
	if (document.frm.id_media.options[0].selected)
		document.frm.id_media_file.disabled = true;	
	else 
		document.frm.id_media_file.disabled = false;
	}
</SCRIPT>


{% endblock %}

{% block content %}




{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="" name="frm">
{% else %}
    <form method="post" action="" name="frm">
{% endif %}

<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
{% endfor %}

</dl>
<input type="submit" />
</form>
<p>
* 
</p>

{% endblock %}

{% block sidebar %}
<div id="tips" style="text-align: left;"></div>
{% endblock %}

