<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet"
 href="{% block stylesheet %}{{ MEDIA_URL }}css/base.css{% endblock %}"/>
    <title>{% block title %}OpenPursuit{% endblock %}</title>
</head>

<body>
    <div id="header">
        <h1>OpenPursuit</h1>
    </div>
    <div id="navigation">
    {#% block sidebar %#}
    {% block navbar %}
    {% load tags %}
    <ul>
    <li><a class="{% active request "^/$" %}" href="/">Home</a></li>
    <li><a class="{% active request "^/base/add/" %}" href="/base/add/">Add Question</a></li>
    <li><a class="{% active request "^/base/play/" %}" href="/base/play/">Play</a></li>
    {% if user.is_authenticated %}
    <li><a class="{% active request "^/accounts/logout/" %}" href="/accounts/logout/">Logout</a></li>
    {% else %}
    <li><a class="{% active request "^/accounts/login/" %}" href="/accounts/login/">Login</a></li>
    {% endif %}
    
    
    {% if user.is_authenticated %}	    <li><p>Welcome, {{ user.username }}. Thanks for logging in.</p></li>	{% else %}	    <li><p>Welcome, new user. Please log in.</p></li>	{% endif %}
	
    </ul>
    {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    {% block footer %} 
     Footer Footer Footer<br>
    {% endblock %}
    </div>
</body>
</html>
