<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jsgame_style.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<title>Fancy Checkbox</title>
 <script>
  $(document).ready(function() {
    $("button").button();
    $("#confirm").button().click(function () { 
	$.ajax({
		type: "GET",
		url: "http://www.openpursuit.org/api/getquiz?tag=nerd&limit=1&lang=it&format=yaml",
		dataType: "xml",
		success: function(xml) {
			$(xml).find('response').each(function(){
				$(xml).find('resource').each(function(){
					var rnd = Math.floor(Math.random()*4)
					question = $(this).find('question').text();
					right1 = $(this).find('right1').text();
					wrong1 = $(this).find('wrong1').text();
					wrong2 = $(this).find('wrong2').text();
					wrong3 = $(this).find('wrong3').text();
					$("#link"+rnd).text(right1);
					$("#link"+((rnd+1)%4)).text(wrong1);
					$("#link"+((rnd+2)%4)).text(wrong2);
					$("#link"+((rnd+3)%4)).text(wrong3);
					$("#question").text(question);
					 
				});
			});
		}
	});
    });
  });
  </script>
    <script>
  $(document).ready(function() {
    $("#accordion").accordion();
  });
  </script>
  <script>
  $(document).ready(function () {
	
    $("#quiz li > button").live('click', function (event) {
        // First disable the normal link click
        //event.preventDefault();

        // Remove all list and links active class.
        $('#quiz .active').removeClass("active");

        // Grab the link clicks ID
        var id = this.id;

        // The id will now be something like "link1"
        // Now we need to replace link with option (this is the ID's of the checkbox)
        var newselect = id.replace('link', 'option');

        // Make newselect the option selected.
        $('#'+newselect).attr('checked', true);

        // Now add active state to the link and list item
        $(this).addClass("active").parent().addClass("active");

        return false;
    });
    	// Toggle Form so you can see it working
	$("a.toggleform").click(function (event){
		event.preventDefault();
		$('#radioform').toggle("slow");

    });
	
});
  </script>
</head>

<body>

  
<div id="accordion">
	<h3><a href="#">Cambia Quiz</a></h3>
	<div>
		<p>Prova</p>
	</div>
	<h3><a href="#">Gioca</a></h3>
	<div>
		<p id='question'>Testo del quiz BBBBBBBBBBBBBBBBBBB </p>
		<div id="options">
		    <ul id="quiz">
			    <li> <button id="link0" class="option1 active">A button element 1</button> </li>
			    <li> <button id="link1" class="option2">A button element 2</button> </li>
		       	<li> <button id="link2" class="option2">A button element 3</button> </li>
		       	<li> <button id="link3" class="option2">A button element 4</button> </li>
		    </ul>
		</div>
		<p><a href="#" class="toggleform">Show Hidden Form Radion Buttons</a></p>
		<form action="step2.html" method="post" id="radioform">
			Option IO: <input name="option1" type="radio" value="option0" id="option0" checked="checked" /><br />
			Option TU: <input name="option1" type="radio" value="option1" id="option1" /><br />  
			Option NOI: <input name="option1" type="radio" value="option2" id="option2" /><br />
			Option 4: <input name="option1" type="radio" value="option3" id="option3" /><br />
		</form>
		<div id="result"> </div>
	<button id="confirm">Conferma</button>
	</div>
	
</div>

</body>
</html>
