{% extends "base.html" %}

{% block title %}Community{% endblock %}

{% block content %}
<h1>Community</h1>
To join the Open Pursuit developers mailing list please ask for an invite to ziducaixao-at-autistici.org
<br>
Open Pursuit will partecipate to the <a href="http://code.google.com/android/adc.html">Google Android contest</a>. In the remote,unprobably case we'll win, the money will help the realization of a free wireless network in Rome.
More info about the project on <a href="http://www.ninux.org">Ninux.org</a>.
{% endblock %}

