body,
html {
	margin:0;
	padding:0;

	background-image: url(http://www.openpursuit.org/media/img/sfondo.jpg);
	color:#CCCCCC;
	font-family: "Century Gothic", Arial;
}

body a {
	color:#CCCCCC;
	
}

body a:hover, a:focus, a:active{ 
	color:#CCCCCC;
	font-weight: bold;
}

ul {
	list-style: disc;
	margin-left: 1em;
	padding-left: 0em;
	text-indent: 0em;
}


#text_helper ul {
	list-style: none;

}



#container {
	width: 930px;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}

#header h1 {
   	padding:5px;
    margin:0;
   }
#nav {
	//background:#c99;
	padding:5px;
}
#nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
#nav li{
	display:inline;
	margin:0;
	padding:0;
}
#main {
	//background:#9c9;
	//float:left;
	//width:600px;
	color: #999999;
}

#main h1 {
	font-size: 22px;
	font-weight: normal; 
	text-decoration: none; 
	margin-top: 20px;
	margin-bottom: 5px;
	}

#main h2, #main h3, #main p {
	padding:0 10px;
   }
/*
#footer {
	background:#cc9;
	clear:both;
}
#footer p {
	padding:5px;
	margin:0;
   }
*/ 

.projecth {
	color: #b9e02f;
}
.playh {
	color: #b578b4;
}
.addh {
	color: #30caa8;
}
.faqh {
	color: #fc8c89;
}
.opensourceh {
	color: #85c9fa;
}
.widgetsh {
	color: #ff782c;
}

.myblock{

	border-width: 1px;
	border-color: #CCCCCC;
	padding: 10px 10px 10px 10px;
	}

#auth_message {
	clear: left;
	padding-bottom: 13px;
	//width: 100%;
	color:#CCCCCC;
	
	}

#header {
	//background-image: url(http://www.openpursuit.org/media/img/header.png);
	background-repeat: no-repeat;
	height: 100px;
	width: 700px;
	margin-top: 15px;
	float: left;
}
#header a {
	border-style: none
}

#menu02o {
	width: 100%;
	font: 80% Century Gothic, Arial;
	//margin: 10px;
	float: left;
}

#menu02o ul{
margin: 0;
padding-left: 0;
list-style: none;
}

#menu02o #play {
	background-image: url(http://www.openpursuit.org/media/img/menu_giocadadi.jpg);
}
#menu02o #add {
	background-image: url(http://www.openpursuit.org/media/img/menu_aggiungi+.jpg);
}

#menu02o a#project:hover,#menu02o  a#project:focus,#menu02o  a#project:active{
	color: #FFFFFF;
	background-image: url(http://www.openpursuit.org/media/img/menu_over_progetto.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#menu02o a#play:hover,#menu02o  a#play:focus,#menu02o  a#play:active{
	color: #FFFFFF;
	background-image: url(http://www.openpursuit.org/media/img/menu_gioca_over.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#menu02o a#add:hover,#menu02o  a#add:focus,#menu02o  a#add:active{
	color: #FFFFFF;
	background-image: url(http://www.openpursuit.org/media/img/menu_aggiungi_over.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#menu02o a#forum:hover,#menu02o  a#forum:focus,#menu02o  a#forum:active{
	color: #CCCCCC;
	background-image: url(http://www.openpursuit.org/media/img/menu_over_forum.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#menu02o a#faq:hover,#menu02o  a#faq:focus,#menu02o  a#faq:active{
	color: #FFFFFF;
	background-image: url(http://www.openpursuit.org/media/img/menu_over_faq.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#menu02o a#opensource:hover,#menu02o  a#opensource:focus,#menu02o  a#opensource:active{
	color: #FFFFFF;
	background-image: url(http://www.openpursuit.org/media/img/menu_over_opensource.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}


#menu02o a#widgets:hover,#menu02o  a#widgets:focus,#menu02o  a#widgets:active{
	color: #FFFFFF;
	background-image: url(http://www.openpursuit.org/media/img/menu_over_widgets.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#menu02o li{
font-size: 1.1em;
display: inline;
margin: 0;
padding: 0;
}
#menu02o h1 {
	font-family: "Century Gothic", Arial;
	font-size: 14px;
	color: #CCCCCC;
	font-weight: 400;
}

#menu02o a:link, #menu02o a:visited{
	background-image: url(http://www.openpursuit.org/media/img/menu_box.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 45px;
	width: 100px;
	text-align: center;
	padding-top: 10px;
	margin-right: 1px;
	color: #999999;
	text-decoration: none;
	font-weight: normal;
}

#login {
	width: 200px;
	float: right;
	height: 100px;
	text-align: right;
	margin-top: 15px;
	
}

#text_content{
	width: 600px;
	float: left;
	}

#text_helper{
	width: 300px;
	float: right;
}

#login dt {
	margin-top: 3px;
	}
#login #button {
	margin-top: 7px;
	float: right;
	
	}

/* powered by http://mierendo.com/software/rounded_css_boxes/ */
.my_corners_tl, .my_corners_t, .my_corners_tr, .my_corners_l, .my_corners_r, .my_corners_bl, .my_corners_b, .my_corners_br, .my_corners {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}
.my_corners_t {
    /*
        change this div to layout the whole box (width, height, float, margin, ...)
        example lines:
        width: 60%;
        margin: 7px 35px 0px 1px
        to change distance to content/text scroll to class ".my_corners" and change the padding
    */
    background-color: #ffffff;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_border.png");
    background-repeat: repeat-x;
    background-position: top;
}
.my_corners_tl {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_topleft.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.my_corners_tr {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_topright.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.my_corners_bl {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_bottomleft.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.my_corners_br {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_bottomright.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.my_corners {
    height: 100%;
    /* change this if you want to change the distance distance to text/content */
    padding: 5px 6px 5px 6px;
}

.my_corners_l {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_border.png");
    background-repeat: repeat-y;
    background-position: left;
}
.my_corners_r {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_border.png");
    background-repeat: repeat-y;
    background-position: right;
}
.my_corners_b {
    height: 100%;
    background-image: url("http://www.openpursuit.org/media/img/my_corners_border.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.my_corners {
	padding-top: 12px;
	padding-right: 23px;
	padding-bottom: 12px;
	padding-left: 23px;
	
	}



.roundedcornr_box_247070 {
	background: url(http://www.openpursuit.org/media/img/roundedcornr_247070_tl.png) no-repeat top left;
}
.roundedcornr_top_247070 {
	background: url(http://www.openpursuit.org/media/img/roundedcornr_247070_tr.png) no-repeat top right;
}
.roundedcornr_bottom_247070 {
	background: url(http://www.openpursuit.org/media/img/roundedcornr_247070_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_247070 div {
	background: url(http://www.openpursuit.org/media/img/roundedcornr_247070_br.png) no-repeat bottom right;
}
.roundedcornr_content_247070 {
	background: url(http://www.openpursuit.org/media/img/roundedcornr_247070_r.png) top right repeat-y;
}

.roundedcornr_top_247070 div,.roundedcornr_top_247070,
.roundedcornr_bottom_247070 div, .roundedcornr_bottom_247070 {
	width: 100%;
	height: 15px;
	font-size: 1px;
}
.roundedcornr_content_247070, .roundedcornr_bottom_247070 {
	margin-top: -19px;
}
.roundedcornr_content_247070 { padding: 15px 15px; }



