@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(../STWORO.JPG);
	background-repeat: repeat;
}
#central {
	font-weight: normal;
	text-align: center;
	width: 1112px;
	top: 50%;
	height: 556px;
	margin-top: -278px;
	margin-left: -556px;
	position: absolute;
	left: 50%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
