<div id="ajax_loaded">
    <div id="openpursuit_banner"><img src="{{MEDIA_URL}}img/openpursuit.png" /></div>
	<!-- div id="score" >
		<div id="score-head">
			<p>Ciao <b>Anonimo!</b></p> 
		</div>
		<div id="score-body">
			{% if fbuser %}
				<p>Punteggio: <b>{{fbuser.score}}</b></p>
				<p>sei il campione su <b>{{fbuser.bestof}}</b> argomenti: {% if fbuser.best_tags %}{% for t in fbuser.best_tags %}{{t}} {% endfor %} {% endif %}</p>
			{% else %}
				<p><a href="javascript:do_login()">Fai il login per vedere la tua classifica</a></p>
			{% endif %}
		</div>
	</div -->

	<div id="buttons">
        <table id="table_button">
            <tbody>
               <tr>
                   <td scope="col"><img src="{{MEDIA_URL}}img/gioca.png" /></td>
                   <td scope="col"><img src="{{MEDIA_URL}}img/sfida.png" /></td>
                   <td scope="col"><img src="{{MEDIA_URL}}img/aggiungi.png" /></td>
               </tr>
               <tr>
                  <td scope="col"><a href="javascript:load_play1()"><img src="{{MEDIA_URL}}img/op_play.png" /></a></td>
                  <td scope="col"><a href="javascript:load_challenge1()"><img src="{{MEDIA_URL}}img/op_vs.png" /></a></td>
                  <td scope="col"><a id="addlink" href="javascript:do_login()"><img src="{{MEDIA_URL}}img/op_add.png" /></a></td>
               </tr>
            </tbody>
        </table>
	</div>	

	<table id="footer">
        <tr>
            <td id="challenges-list">
                  <div class="images">
                        <div>
                            <table>
                                   <tr>
                                      <th scope="col" class="footer-title">Sfide Ricevute:</th> 
                                      {% for opponent in opponents_list %}
                                        <td scope="col"><fb:profile-pic uid="{{opponent.uid}}" linked='true' size='q'> </fb:profice-pic></td>
                                      {% endfor %}
                                   </tr>
                            </table>
                        </div>
                        <div>
                            <table>
                                   <tr>
                                      <th scope="col" class="footer-title">Giocano anche:</th> 
                                      {% for players in players_list %}
                                        <td scope="col"><fb:profile-pic uid="{{players.uid}}" linked='true' size='q'> </fb:profice-pic></td>
                                      {% endfor %}
                                   </tr>
                            </table>
                       </div>
                        <div>
                            <table>
                                   <tr>
                                      <th scope="col" class="footer-title">Classifica autori:</th> 
                                      {% for contributor in top_contributors_list %}
                                        <td scope="col"><fb:profile-pic uid="{{contributor.uid}}" linked='true' size='q'> </fb:profice-pic></td>
                                      {% endfor %}
                                   </tr>
                            </table>
                       </div>
                        <div>
                            <p>Stiamo facendo ancora un po' di bordello</p> 
                       </div>
                    </div>
                    <div class="slidetabs">
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                     </div>
            </td>
            <td id="audiocontrol" class="audioon">
                <a href="javascript:switch_audio()"><img src="{{MEDIA_URL}}img/audioon.png" /></a>
            </td>
        </tr>
    </table>
</div>
