<div id="ajax_loaded">
	<div id="score" >
		<div id="score-head">
			<p>Ciao <b>Anonimo!</b></p> 
		</div>
		<div id="score-body">
			{% if fbuser %}
				<p>hai totalizzato <b>{{fbuser.score}}</b> punti</p>
				<p>sei il campione su <b>{{fbuser.bestof}}</b> argomenti: {% if fbuser.best_tags %}{% for t in fbuser.best_tags %}{{t}} {% endfor %} {% endif %}</p>
			{% else %}
				<p><a href="javascript:do_login()">Fai il login per vedere la tua classifica</a></p>
			{% endif %}
		</div>
	</div>

	<div id="buttons">
	<table id="table_button">
		<tbody>
		   <tr>
		      <td scope="col"><a href="javascript:load_play1()"><img src="{{MEDIA_URL}}img/peanuts.jpg" /> </a></td>
		      <td scope="col"><a href="javascript:load_challenge1()"><img src="{{MEDIA_URL}}img/peanuts.jpg" /> </a></td>
		      <td scope="col"><a href="javascript:load_addquiz1()"><img src="{{MEDIA_URL}}img/peanuts.jpg" /> </a></td>
		   </tr>
		   <tr>
		      <td scope="col"><h4>Gioca</h4></td>
		      <td scope="col"><h4>Sfida</h4></td>
		      <td scope="col"><h4>Aggiungi Quiz</h4></td>
		   </tr>
		</tbody>
	</table>
	</div>	
	<div id="challenges-list">
		<table id="opponents">
			<tbody>
			   <tr>
			      <th scope="col">Sfide ricevute:</th> 
			      <td scope="col"><img class="opponent_msg" src="{{MEDIA_URL}}img/p1.jpg" /></td>
			      <td scope="col"><img class="opponent_msg" src="{{MEDIA_URL}}img/p2.jpg" /></td>
			      <td scope="col"><img class="opponent_msg" src="{{MEDIA_URL}}img/p3.jpg" /></td>
			      <td scope="col"><img class="opponent_msg" src="{{MEDIA_URL}}img/p4.jpg" /></td>
			      <td scope="col"><img class="opponent_msg" src="{{MEDIA_URL}}img/p5.jpg" /></td>
			   </tr>
			</tbody>
		</table>
	</div>	
</div>
