<div id="ajax_loaded">

	<p>
		Punteggio: <span id="score-in-game-value"> </span> 
	</p>
	<div id="menu_registered">
        <a href="javascript:publish_score()"><img src="{{MEDIA_URL}}img/publish_wall.png" />Pubblica il punteggio sulla tua bacheca</a>
        <br />
        <div id="save_status"><a href="javascript:save_score()"><img src="{{MEDIA_URL}}img/save.png" /><span>Salva</span></a></div>
    </div>
    <a href="javascript:load_main()"><img src="{{MEDIA_URL}}img/back.gif" />Torna al menu principale</a> <br/>

    <div id="chart-main">
      <div class="chart-row">
        <div class="chart-title">
                Classifica<br/>
                Generale
        </div>
        <div class="chart-body">
            <a class="prev browse left"></a>
            <div class="scrollable">
                    <div class="items">
                        <div class="scrollable-item">
                            {% for element in general_chart %}
                                <div class="chart-element">
                                    <div class="chart-pic">
                                        <fb:profile-pic uid="{{element.uid}}" linked="true" size="q"></fb:profile-pic>
                                    </div>
                                    <div class="chart-name">
                                        <p>{{element.first_name}}</p>
                                    </div>
                                    <div class="chart-score">
                                        {{ element.score }} 
                                    </div>
                                </div> <!-- end chart-element-->
                                {% if forloop.counter|divisibleby:"7" %}
                                </div> <!-- end scrollablei-item -->
                                <div class="scrollable-item">
                                {% endif %}
                            {% endfor %}
                        </div> <!-- end scrollablei-item -->
                    </div> <!-- end items -->
                </div> <!-- end scrollable --> 
            <a class="next browse right"></a>
        </div> <!-- end chart body -->
      </div> <!-- end chart row -->
    {% if tag_general_chart.items %}
        {% for key, value in tag_general_chart.items %}
      <div class="chart-row">
        <div class="chart-title">
                Classifica<br/>
                {{key}} 
        </div>
        <div class="chart-body">
            <a class="prev browse left"></a>
            <div class="scrollable">
                    <div class="items">
                        <div class="scrollable-item">
                            {% for element in value %}
                                <div class="chart-element">
                                    <div class="chart-pic">
                                        <fb:profile-pic uid="{{element.uid}}" linked="true" size="q"></fb:profile-pic>
                                    </div>
                                    <div class="chart-name">
                                        <p>{{element.first_name}}</p>
                                    </div>
                                    <div class="chart-score">
                                        {{ element.score }} 
                                    </div>
                                </div> <!-- end chart-element-->
                                {% if forloop.counter|divisibleby:"7" %}
                                </div> <!-- end scrollablei-item -->
                                <div class="scrollable-item">
                                {% endif %}
                            {% endfor %}
                        </div> <!-- end scrollablei-item -->
                    </div> <!-- end items -->
                </div> <!-- end scrollable --> 
            <a class="next browse right"></a>
        </div> <!-- end chart body -->
      </div> <!-- end chart row -->
        {% endfor %}
      {% endif %}
    </div><!-- end chart main -->
</div>
