<div id="ajax_loaded">
	<p id="select-label">
	    Seleziona fino a 4 argomenti per i tuoi quiz o non selezionarne nessuno per giocare con tutti gli argomenti:
	</p>
	<div id="tagcloud" >
		<div id="tagcloud-head">
			<span class="card-title">Argomenti</span>	
		</div>
		<div id="tagcloud-body">
			{% load tagclouds %}
			{% get_latest_cloudtag %}
			{% for tag in content_tagclouds|slice:"100" %}
            <div style="font-size:{{ tag.cloudsize }}; text-align:left;float:left" > <a id="tag_{{ tag.id }}" href="javascript:writetag('{{ tag.tag }}','{{ tag.id }}')">{{ tag.tag }}</a>, </div>
			{% endfor %}
		</div>
	</div>
	
	<div id="selected-tags">
		<table id="table-selected-tags">
                        <tbody>
                           <tr>
				<!-- here the tags -->
                           </tr>
                        </tbody>
                </table>
	</div>
	<div id="play">
		<table> 
		    <tbody> <tr> 
			<td> <a href="javascript:load_play2()" class="big-word">Gioca</a>  </td>
            <td id="padding1"></td>
			<td> <a href="javascript:load_play2()"> <img src="{{MEDIA_URL}}img/op_cake.png" /> </a> </td>
		    </tr> </tbody>
		</table>
	</div>
</div>
