<div id="ajax_loaded">
	<div id="timer">
		<h4>
			5 sec
		</h4>
	</div>
    <div id="author">
	</div>
	<div id="question">
	</div>
	<table id="answers">
             <tbody> 
		<tr>
                        <td> <div id="answer0" class="rounded-corners answer"></div> </td>
			<td> <div id="answer1" class="rounded-corners answer"></div> </td>
         	</tr> 
		<tr>
                        <td> <div id="answer2" class="rounded-corners answer"></div> </td>
			<td> <div id="answer3" class="rounded-corners answer"></div> </td>
         	</tr> 
	     </tbody>
     </table>
	<!-- table id="play_profile"> 
		<tbody>
			<tr>
				<td id="play_profile_name" rowspan="2">
					<img src="{{MEDIA_URL}}img/no_pic.jpg" />  
				</td>
				<td class="score-in-game">
					Score
				</td>
				<td id="play_profile_tag" rowspan="2">
                                        <table id="tagscore">
                                                <tbody>
                                                </tbody>
                                        </table>
                                </td>
			</tr>
			<tr>
				<td class="score-in-game">
					<span id="score-in-game-value">12839</span>
				</td>
			</tr>
		</tbody>
        </table -->
</div>
