<div id="ajax_loaded">

	<p>
	Scegli una serie di argomenti per i quiz:
	</p>
	<div id="tagcloud" >
		<div id="tagcloud-head">
			<h2>Argomenti</h2>	
		</div>
		<div id="tagcloud-body">
			{% load tagclouds %}
			{% get_latest_cloudtag %}
			{% for tag in content_tagclouds|slice:"100" %}
				<div style="font-size:{{ tag.cloudsize }}; text-align:left;float:left" > <a href="javascript:writetag('{{ tag.tag }}','{{ tag.id }}')"> {{ tag.tag }}</a>, </div>
			{% endfor %}
		</div>
	</div>
	
	<div id="selected-tags">
		<table id="table-selected-tags">
                        <tbody>
                           <tr>
				<!-- here the tags -->
                           </tr>
                        </tbody>
                </table>
	</div>
	<div id="play">
		<table> 
		    <tbody> <tr> 
			<td> <a href="javascript:load_play2()"> <h2>Gioca!</h2></a>  </td>
			<td> <a href="javascript:load_play2()"> <img src="{{MEDIA_URL}}img/logo_turned.png" /> </a> </td>
		    </tr> </tbody>
		</table>
	</div>
</div>
